<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
    
        <!-- Stylesheets -->
        <link rel="stylesheet" type="text/css" href="static/assets/css/style.css">

        <!-- Libraries -->
        <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>-->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

        <!-- Javascript -->
        <script src="static/assets/js/home.js"></script>

        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>
       
    </head>

<body>

    <h1>Simple URL Shortener</h1>

    <form action="/shorten" method="POST" id="url_shortener_form">
        URL to Shorten: <input type="text" name="url_to_parse">
    </form>

    <div class="parsed_url">
    </div>

</body

<html>